@use 'variables'
 
*
  padding: 0
  margin: 0
  font-family: "sans-serif"
  box-sizing: border-box
  color: variables.$text-color
  
body
  background-color: variables.$bg-color

a, svg
  transition: .4s

h1
  font-family: variables.$text-font-underfore

p
  font-family: variables.$text-font-undersans
  