@use './_variables' as variables

@mixin justification($flex: flex,$justify: center, $align: center)
  display: $flex
  justify-content: $justify
  align-items: $align

@mixin bg-image
  background-image: url(../../imgs/737481.png)
  background-attachment: local
  background-position: center
  background-repeat: no-repeat
  background-size: cover

@mixin hideScrollbar
  &::-webkit-scrollbar
    width: 0 !important

    -ms-overflow-style: none
    scrollbar-width: none

@mixin typing($delay: 0s)
  overflow: hidden
  white-space: nowrap
  animation: typing 3s $delay steps(30, end) forwards

@mixin animation-mixin
  @keyframes typing
    0%
      width: 0%
    100%
      width: 100%

@mixin animation-lanca
  @keyframes typing
    0%
      width: 0%
    100%
      width: 100%
